<style type="text/css">
    .slick-dots {
        top:-30px;
    }
    .account-container{
        top:10px!important;
    }
    .cover-container{
        height:135px!important;
    }
</style>

<div class="maleo-card profile-page animated fadeInUp">

    <!-- Profile COVER -->
    <div class="cover-container">
        <div class="account-container">
            <div class="user-pic">
                <img src="images/no-img.gif" alt="">
            </div>
            <h2 class="profile-name">Meta Amyllia</h2>
        </div>
    </div><!-- End Profile COVER -->

    <div id="slickNav"></div>

    <div class="maleo-sequence">

        <div class="items">
            <h2 class="heading">Overview</h2>
            <p>You can swipe this section to view other client details.</p>

            <div class="profile-block profile-block about">
                <div class="heading">Bio</div>
                <p>One you kind to me, watch...</p>
            </div>
        </div>

        <div class="items">
            <!-- Slide 2 -->
            <div class="thumb-icon">
                <i class="fa fa-hand-o-right"></i>
            </div>
            <h2 class="heading">Make a choice</h2>
            <p>After you explore, lets determine your choice. BUY this theme soon.</p>
        </div>

        <div class="items">
            <!-- Slide 3 -->
            <div class="thumb-icon">
                <i class="fa fa-money"></i>
            </div>
            <h2 class="heading">Doing transaction</h2>
            <p>After you explore, lets determine your choice. BUY this theme soon.</p>
        </div>

        <div class="items">
            <!-- Slide 4 -->
            <div class="thumb-icon">
                <i class="fa fa-thumbs-o-up"></i>
            </div>
            <h2 class="heading">Enjoy maleo theme</h2>
            <p>After you explore, lets determine your choice. BUY this theme soon.</p>
        </div>

    </div>


</div>