<h3 class="maleo-card_title big-title text-center">Sign Up</h3><!-- Title app -->
<!-- Form content -->
<div class="form-content">

    <p class="app-desc">Please fill the form below such username &amp; password for your access to the app.</p>

    <div class="input-field with-icon">
        <span class="icon">
            <i class="fa fa-envelope"></i>
        </span>
        <input id="login" type="text">
        <label for="login" class="">Username</label>
    </div>

    <div class="input-field with-icon margin-bottom">
        <span class="icon">
            <i class="fa fa-lock"></i>
        </span>
        <input id="login-psw" type="password">
        <label for="login-psw">Password</label>
    </div>

    <div class="input-field with-icon margin-bottom">
        <span class="icon">
            <i class="fa fa-check"></i>
        </span>
        <input id="login-psw2" type="password">
        <label for="login-psw2" class="">Confirm</label>
    </div>

    <button class="btn-large block margin-bottom" type="button">Sign Up</button>
    <span class="app-desc">Have an account? <a class="primary-text" href="#">Login</a></span>

</div>
<!-- End form content -->